Clase04/AI AUTOMATION-04.03.json
{
  "name": "AI AUTOMATION-04.03",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Actúa como un Analista de Datos Clínicos de élite. Vas a recibir texto extraído de un PDF médico.\n\nTareas:  EXTRAER: Busca valores de 'Glucosa' y 'Creatinina'. Ignora el desorden del texto.\n\nANONIMIZAR: Cambia cualquier nombre de persona por 'PACIENTE_CONFIDENCIAL'. \n\nEVALUAR: Si Glucosa > 120 o Creatinina > 1.3, el estado es 'URGENTE'.\n\nDe lo contrario 'ESTABLE'. "
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        0,
        -64
      ],
      "id": "5e535c3d-cd42-4a09-848b-318464f6d332",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        112,
        144
      ],
      "id": "0e76e0d7-7405-4adb-8114-a756a1a8b5d9",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "0yerSZ3xHxYUhcYz",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"estado\": \"URGENTE\",\n  \"paciente\": \"PACIENTE_CONFIDENCIAL\",\n  \"valores\": {\n    \"Glucosa\": 120,\n    \"Creatinina\": 1.8\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        240,
        128
      ],
      "id": "371d1732-3432-4716-8548-a06ef1a97474",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "45e54fd3-375b-4b31-8416-6365af467a53",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1248,
        -64
      ],
      "id": "c663eafb-59e5-414d-b994-8a933e1a4bfc",
      "name": "POST Recibo FILE",
      "webhookId": "45e54fd3-375b-4b31-8416-6365af467a53"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d03ea37-a5ec-4d05-9203-254596c59ef5",
              "name": "fileExtension",
              "value": "={{ $binary.data0.fileExtension }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        -64
      ],
      "id": "f5cb3aca-4abb-42d7-881e-218576f7f264",
      "name": "Get fileExtension"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "967069e6-5f0a-4800-877c-f48336c3b0e2",
                    "leftValue": "={{ $json.fileExtension }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5ee71d85-03c1-4f46-b9d5-578b6650a9c9",
                    "leftValue": "={{ $json.fileExtension }}",
                    "rightValue": "csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -816,
        -80
      ],
      "id": "a28f8844-e296-4d29-a949-7f238d2393f5",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloud.llamaindex.ai/api/v1/parsing/job/PONER_EL_ID_AQUI/result/markdown",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -368,
        144
      ],
      "id": "0ec247f4-244e-497f-bcf9-c83b3d641eae",
      "name": "Send JPG to LlamaCloud"
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}/result/markdown",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -160,
        144
      ],
      "id": "2ea11fb2-1a52-466b-91ab-f7995fac932e",
      "name": "Get jpg parsed"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -448,
        -256
      ],
      "id": "f4b3dd8b-0437-48e8-aff6-d1b58e240d91",
      "name": "Extract from PDF"
    },
    {
      "parameters": {
        "binaryPropertyName": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -464,
        -64
      ],
      "id": "d2b8f8c0-b871-430c-8c36-2639a2e093cb",
      "name": "Extract from CSV"
    },
    {
      "parameters": {
        "operation": "resize",
        "options": {}
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -624,
        144
      ],
      "id": "5b4b4300-a1b7-4f8b-8955-9e984512e2d4",
      "name": "Edit Image"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.estado }}",
                    "rightValue": "URGENTE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7c748487-e8ca-4aca-8e35-09635e43e635"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        336,
        -80
      ],
      "id": "ed00919d-7133-4fed-b818-610687944855",
      "name": "Switch1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        496,
        -256
      ],
      "id": "dcd74963-e515-473e-9b6a-08fd77c7d6b3",
      "name": "DESENCADENAR OTRO WEBHOOK"
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "POST Recibo FILE": {
      "main": [
        [
          {
            "node": "Get fileExtension",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get fileExtension": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send JPG to LlamaCloud": {
      "main": [
        [
          {
            "node": "Get jpg parsed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get jpg parsed": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "main": [
        [
          {
            "node": "Send JPG to LlamaCloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "DESENCADENAR OTRO WEBHOOK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d0095eb8-2257-4485-8787-d4e341177d32",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8c8ce18066f25917bc44c6f65d6b4d34c6b6208f08c0a90225db447df4117f31"
  },
  "id": "0cvp0Zcr5dYUKV0m",
  "tags": []
}