Clase04/AI AUTOMATION-04.02-llamacloud.json
{
  "name": "AI AUTOMATION-04.02-llamacloud",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2aa7cad9-c65d-4254-81f0-af8572d025c2",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        -80
      ],
      "id": "e09b2779-1a57-413b-8a20-194b9d3735e2",
      "name": "Webhook",
      "webhookId": "2aa7cad9-c65d-4254-81f0-af8572d025c2",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Actúa como un Analista de Datos Clínicos de élite. Vas a recibir texto extraído de un PDF médico. Tareas:  EXTRAER: Busca valores de 'Glucosa' y 'Creatinina'. Ignora el desorden del texto.  ANONIMIZAR: Cambia cualquier nombre de persona por 'PACIENTE_CONFIDENCIAL'.  EVALUAR: Si Glucosa > 120 o Creatinina > 1.3, el estado es 'URGENTE'. De lo contrario 'ESTABLE'.  FORMATO: Responde ÚNICAMENTE en JSON: {'estado': '...', 'paciente': '...', 'valores': '...'}\""
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        144,
        -80
      ],
      "id": "ba54b5ce-ab35-4b0c-8c8d-5230b3436b79",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        128,
        128
      ],
      "id": "3c9690cd-e749-42af-8e98-283a455fac12",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "0yerSZ3xHxYUhcYz",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"status\": \"URGENTE\", \"paciente\": \"PACIENTE_ANONIMIZADO\", \"valores\": {\"glucosa\": 325, \"creatinina\": 2.8}}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        288,
        128
      ],
      "id": "bf817fad-c453-48f2-ba3b-e07457fac7ff",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.status }}",
                    "rightValue": "URGENTE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "25518ad9-f418-446a-bbd9-3aa765193ed9"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "61565a4a-e837-4cfc-8332-24b343d2e3a1",
                    "leftValue": "={{ $json.output.status }}",
                    "rightValue": "NORMAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        496,
        -80
      ],
      "id": "6fd96efd-9e42-43d3-bd66-14b37a0cec1d",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloud.llamaindex.ai/api/v1/parsing/job/PONER_EL_ID_AQUI/result/markdown",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "data0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -272,
        -80
      ],
      "id": "0c6e09ce-8e06-46d5-89d3-2dd531f499f6",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "RUOoAe9aIrecQMtG",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}/result/markdown",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -64,
        -80
      ],
      "id": "a2982b4c-f174-4edd-b976-19607a9e50ee",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ec9fdb2d-b534-4d6a-88dd-501156c8346e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8c8ce18066f25917bc44c6f65d6b4d34c6b6208f08c0a90225db447df4117f31"
  },
  "id": "mPbgswudyXEpY5eo",
  "tags": []
}