Clase02/Clase-02.json
{
  "name": "Clase-02",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f8ae1129-49b5-460a-bf68-1049b3175f7f",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -176,
        0
      ],
      "id": "de834f76-dda6-4aa4-ba01-5b84beca7398",
      "name": "Webhook",
      "webhookId": "f8ae1129-49b5-460a-bf68-1049b3175f7f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un asistente médico experto. Tu tarea es analizar el texto clínico que se te proporciona y extra los datos estructurados.\n\nEjemplos de entrenamiento:\nTexto de entrada: \"Paciente con dolor de cabeza leve desde ayer\"\nRespuesta: {\"paciente_id\":\"123\",\"diagnostico\": \"Cefalea leve\", \"recomendaciones\": \"Observación y descanso\", \"triage\": \"leve\"}\n\nTexto de entrada: \"Paciente ingresa con dolor de pecho agudo y dificultad respiratoria\"\nRespuesta: {\"paciente_id\":\"3123\",\"diagnostico\": \"Posible infarto de miocardio\", \"recomendaciones\": \"Atención urgente\", \"triage\": \"critico\"}\n\nINSTRUCCIÓN ESTRICTA:\nAnaliza el siguiente texto y devolve ÚNICAMENTE un objeto JSON válido con la misma estructura de los ejemplos. No agregues nada adicional, ni saludos, ni explicaciones, nada mas. Solo el JSON crudo como output\n\nLa key \"triage\" del output tiene valores de un conjunto de tres opciones: LEVE, GRAVE y URGENTE\n\nTEXTO A ANALIZAR: {{ $json.body.diagnostico }}\n\n\n",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        32,
        0
      ],
      "id": "4ce6d458-3d3c-4c62-92eb-f1d1e715553b",
      "name": "Basic LLM Chain",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        32,
        208
      ],
      "id": "903ec7ff-5255-4ec1-a0ce-65e46128ce9e",
      "name": "Groq Chat Model",
      "alwaysOutputData": false,
      "credentials": {
        "groqApi": {
          "id": "0yerSZ3xHxYUhcYz",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"paciente_id\":\"123\",\n  \"diagnostico\": \"Cefalea leve\",\n  \"recomendaciones\": \"Observación y descanso\",\n  \"triage\": \"leve\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        176,
        208
      ],
      "id": "7c144310-9dd5-4feb-b809-dd0ce16eb1a0",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        -176
      ],
      "id": "16903369-89fa-4a42-a2a5-bd1fff5820d6",
      "name": "Append row in sheet"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "545d3f27-2d45-4513-b84f-19c437e1d663",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8c8ce18066f25917bc44c6f65d6b4d34c6b6208f08c0a90225db447df4117f31"
  },
  "id": "3obAtFZXQwGS3H69",
  "tags": []
}